body{font-family: 'Source Sans Pro', sans-serif;}
a.nav-link {
    font-size: 14px;
    font-weight: 500;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background-color: none;}

    .mt--10 {
    margin-top: -215px;
    background: #ff3547eb;
    border-radius: 5px;
    color: white;
}

.weight800{font-weight: 800;}
.main-font{font-family: 'Pacifico', cursive;}
.second-font{font-family: 'Lobster', cursive;}
.third-font{font-family: 'Dancing Script', cursive;}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff;
}
a.navbar-brand{font-size: 26px}
.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}
@media (min-width: 992px)
{.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}}
.text-underline{text-decoration: underline;}
.slider h1{font-size: 3.5rem}

.video_Section{position: relative;}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.content p{font-size: 20px;}
.content h1{font-size: 4rem}
.content {
    position: absolute;
    height: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

#myBtn {
  width: 150px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.main_banner{background: url(../img/hero_slider_5.jpg); background-size: cover;background-position: center;}

  .parralexx{background: url(../img/hero_slider_5.jpg); background-attachment: fixed; background-size: cover;background-position: center;}
  #shiva
{
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float:left;
  margin:5px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}
#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
  float:left;
  margin:20px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}

.linker
{
  font-size : 20px;
  font-color: black;
}
.fav i {
     padding: 10px;
    background: #ffffff7a;
    border-radius: 7px;
    color: white;
    margin: 0 4px;
}
.navbar .navbar-brand img {
     height: auto; 
}
.load{display: none;}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

   .lds-roller{   width: 100%;
    position: fixed;
    top: 50%;
    z-index: 99999;
    height: 100%;
    left: 50%;}
.load{    background:#000000c7;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;}
    a.navbar-brand {
    font-size: 20px;
    font-weight: 600;
}




    