
*{
	margin: 0px;
	padding: 0px;
}

body a{
	color:#03659e;
	text-decoration: none;
}
body a:hover{
	text-decoration: none;
}
body ol, body ul, body li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

body input:focus, body a:focus{
	outline:none;
}
.register_form {
    padding: 88px 0px;
}
.register_form form.needs-validation {
    padding: 12px;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
}
.register_form form.needs-validation .student_img {
    width: 30%;
    float: left;
}
.register_form form.needs-validation .student_img img {
    width: 177px;
}
.register_form form.needs-validation .student_id {
    width: 70%;
    float: left;
    padding: 13px;
}
.register_form form.needs-validation .student_detail {
    width: 100%;
    float: left;
    padding: 29px 0;
}
.register_form form.needs-validation .student_id h3 {
    font-size: 28px;
    text-align: center;
    color: #ff3547;
    text-transform: uppercase;
    font-weight: 400;
    padding: 18px 0 0;
}
.register_form form.needs-validation .student_id p {
    padding: 0 15px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
}
.register_form form.needs-validation .student_id .form-group {
    width: 50%;
    float: left;
    padding: 0 40px 0 35px;
}
.register_form form.needs-validation .student_id .form-group label {
    font-size: 19px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
}
.register_form form.needs-validation .student_detail .form-group label {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.register_form form.needs-validation .student_detail .form-group.dob {
    width: 48%;
    float: left;
    margin: 0 6px 0 1px;
}
.register_form form.needs-validation .student_detail .form-group.age {
    width: 49%;
    float: left;
    margin-left: 8px;
}
.register_form form.needs-validation .student_detail .form-group.number{
    width: 48%;
    float: left;
    margin: 0 6px 0 1px;
}
.register_form form.needs-validation .student_detail .form-group.pnumber {
    width: 49%;
    float: left;
    margin-left: 8px;
}
.register_form form.needs-validation .student_detail .form-group.subject textarea {
    height: 100px;
}
.register_form form.needs-validation p.Declaration {
    padding: 0 15px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
}
.bottom-section {
    width: 100%;
    float: left;
}

.bottom-section .upload-sign {
    width: 35%;
    float: left;

}
.bottom-section .submit_button {
    width: 65%;
    float: left;
    margin: 16px 0px 0 0px;
}
.bottom-section .submit_button button {
    background: #bbb17b !important;
}
.register-login {
    background: url(../img/bg-page.jpg);
    background-size: cover;
    background-position: center;
}
.side-img {
    background: url(../img/reg_side.png);
    background-size: 100%;
    /* background-position: center; */
    height: 673px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 209px 0;
    vertical-align: middle;
}
.bottom-section .submit_button button:hover {
    background: #bbb17b !important;
}
/* staff-page */
.main_staff {
    padding: 88px 0 76px;
}
.main_staff .staff_detail {
    background: #fff;
    margin-bottom: 29px;
    box-shadow: 0 0 18px #ddd;
    padding: 14px;
    border-bottom: 4px solid transparent;
}
.main_staff .staff_detail:hover {
   
    box-shadow: 0 0 18px #c7ba81;
	border-bottom: 4px solid #bbb17b;

}
.main_staff .staff_detail img {
    width: 100%;
	border: 4px solid #bbb17b;
}
.staff_detail h5 {
    margin-top: 18px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 18px;
    color: #212121;
    height: 42px;
    line-height: 26px;
    padding: 0 3px;
}
.main_staff .staff_detail p {
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 400;
}
.main_staff .staff_detail p b {
    padding-right: 5px;
    color: #000000a8;
}
.main_staff .staff_detail hr {
    border: 2px solid #ff3547;
}
.main_staff .read-more a {
    background: #bbb17b;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 19px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}
.main_staff .read-more a:hover {
    background: #ff3547;
    
}
.main_staff .read-more {
    margin: 0 auto 10px !important;
    width: 52%;
}
/* staff-page */
/* media */
@media(max-width:1199px){
.register_form form.needs-validation .student_id .form-group {
   
    padding: 0 13px 0 32px;
}
.bottom-section .submit_button {
    width: 55%;

}
.bottom-section .upload-sign {
    width: 45%;
    float: left;
}
.main_staff .staff_detail p {
    
    font-size: 15px;
    font-weight: 300;
}
.staff_detail h5 {
    
    font-size: 19px;
    height: auto;
    
}
.main_staff .staff_detail p b {
  
    color: #000000ed;
    font-weight: 500 !important;
}
}
@media(max-width:991px){
.register_form .col-md-8 {
    width: 100% !important;
}
.side-img {
    
    background-size: 100%;
    height: 17px;
    padding: 177px 0;
}
}
@media(max-width:767px){
.register_form form.needs-validation .student_id .form-group {
    width: 100%;
    float: left;
    margin-bottom: 0 !important;
    margin-left: 15px;
}
.register_form form.needs-validation .student_detail .form-group.dob {
    width: 100%;
    margin-bottom: 16px;
}
.register_form form.needs-validation .student_detail .form-group.age {
    width: 100%;
    margin-left: 0;
}
.register_form form.needs-validation .student_detail .form-group.number {
    width: 100%;
    margin: 0 0px 10px 0;
}
.register_form form.needs-validation .student_detail .form-group.pnumber {
    width: 100%;
    margin-left: 0;
}
.register_form form.needs-validation p.Declaration {
    padding: 0 6px;
    font-size: 14px;
    margin-bottom: 15px;
   
}
.bottom-section .submit_button {
    width: 100%;
    margin-bottom: 18px;
}
.bottom-section .upload-sign {
    width: 100%;
}
.bottom-section .submit_button button {
  
    margin: 0 !important;
}

}
@media(max-width:640px){
.register-login {
    margin-top: 44px;
}
}
@media(max-width:520px){
.register_form form.needs-validation .student_img {
    width: 41%;
    float: none;
    margin: 0 auto;
}
.register_form form.needs-validation .student_id {
    width: 100%;
    float: left;
    padding: 0;
}
.register_form form.needs-validation .student_id p {
    padding: 0;
    
}
.register_form form.needs-validation .student_id .form-group {
    width: 50%;
    float: left;
    margin-left: 0;
}
.register_form form.needs-validation .student_detail {
    
    padding: 16px 0;
}
.register-login {
   
    margin-top: 63px;
}
}
@media(max-width:480px){
.register_form form.needs-validation .student_img img {
    width: 100%;
}
.register_form form.needs-validation .student_id .form-group {
    width: 100%;
   
    padding: 0;
}
.register-login {
   
    margin-top: 64px;
}
}