
*{
	margin: 0px;
	padding: 0px;
}

body a{
	color:#03659e;
	text-decoration: none;
}
body a:hover{
	text-decoration: none;
}
body ol, body ul, body li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

body input:focus, body a:focus{
	outline:none;
}
.register_form {
    padding: 88px 0px;
}
.register_form form.needs-validation {
    padding: 12px;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
}
.register_form form.needs-validation .student_img {
    width: 30%;
    float: left;
}
.register_form form.needs-validation .student_img img {
    width: 177px;
}
.register_form form.needs-validation .student_id {
    width: 70%;
    float: left;
    padding: 13px;
}
.register_form form.needs-validation .student_detail {
    width: 100%;
    float: left;
    padding: 16px 0;
}

.student_img label {
    text-align: center !important;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
    color: #ccc;
    padding: 52px 46px;
}
.register_form form.needs-validation .student_id h3 {
    font-size: 28px;
    text-align: center;
    color: #ff3547;
    text-transform: uppercase;
    font-weight: 400;
    padding: 18px 0 0;
}
.register_form form.needs-validation .student_id p {
    padding: 0 15px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
}
.register_form form.needs-validation .student_id .form-group {
    width: 50%;
    float: left;
    padding: 0 40px 0 35px;
}
.register_form form.needs-validation .student_id .form-group label {
    font-size: 19px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
}
.register_form form.needs-validation .student_detail .form-group label {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.register_form form.needs-validation .student_detail .form-group.dob {
    width: 48%;
    float: left;
    margin: 0 6px 0 1px;
}
.register_form form.needs-validation .student_detail .form-group.age {
    width: 49%;
    float: left;
    margin-left: 8px;
}
.register_form form.needs-validation .student_detail .form-group.number{
    width: 50%;
    float: left;
    margin: 0 0px 0 1px;
}
.register_form form.needs-validation .student_detail .form-group.pnumber {
    width: 48%;
    float: left;
    margin-left: 1px;
}
.register_form form.needs-validation .student_detail .form-group.onumber {
    width: 50%;
    float: left;
    margin-left: 7px;
}
.register_form form.needs-validation .student_detail .form-group.subject textarea {
    height: 100px;
}
.register_form form.needs-validation p.Declaration {
    padding: 0 15px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
}
.bottom-section {
    width: 100%;
    float: left;
}

.bottom-section .upload-sign {
    width: 35%;
    float: left;

}
.bottom-section .submit_button {
    width: 65%;
    float: left;
    margin: 16px 0px 0 0px;
}
.bottom-section .submit_button button {
    background: #bbb17b !important;
}
.register-login {
    background: url(../img/bg-page.jpg);
    background-size: cover;
    background-position: center;
}
.side-img {
    background: url(../img/reg_side.png);
    background-size: 100%;
    /* background-position: center; */
    height: 673px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 209px 0;
    vertical-align: middle;
}
.bottom-section .submit_button button:hover {
    background: #bbb17b !important;
}
.register_form form.needs-validation .class_dropdown{
	width: 48%;
    float: left;
    margin: 0 6px 0 1px;
} 
.register_form form.needs-validation .class_dropdown select {
    display: block !important;
    
}
.register_form form.needs-validation .subject_dropdown{
	width: 49%;
    float: left;
    margin-left: 8px;
}
.register_form form.needs-validation .subject_dropdown select {
    display: block !important;
    
}
/* staff-page */
.main_staff {
    padding: 88px 0 76px;
}
.main_staff .staff_detail {
    background: #fff;
    margin-bottom: 29px;
    box-shadow: 0 0 18px #ddd;
    padding: 14px;
    border-bottom: 4px solid transparent;
}
.main_staff .staff_detail:hover {
   
    box-shadow: 0 0 18px #c7ba81;
	border-bottom: 4px solid #bbb17b;

}
.main_staff .staff_detail img {
    width: 100%;
    border: 4px solid #bbb17b;
    height: 225px;
    object-fit: cover;
}
.staff_detail h5 {
    margin-top: 18px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 18px;
    color: #212121;
    height: 42px;
    line-height: 26px;
    padding: 0 3px;
}
.main_staff .staff_detail p {
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 400;
}
.main_staff .staff_detail p b {
    padding-right: 5px;
    color: #000000a8;
}
.main_staff .staff_detail hr {
    border: 2px solid #ff3547;
}
.main_staff .read-more a {
    background: #bbb17b;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 19px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}
.main_staff .read-more a:hover {
    background: #ff3547;
    
}
.main_staff .read-more {
    margin: 0 auto 10px !important;
    width: 52%;
}
.card .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding-right: 0;
}
.card .alert-danger .result_data p {
    margin-bottom: 0;
}
/* staff-page */
/* time table-page */
.time_table {
    padding: 76px 0;
}
.time_table h2 {
    text-align: center;
    color: #ff3547!important;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.time_table hr {
    width: 104px;
    color: #ff3547!important;
    background: #ff3547!important;
    margin: 0 auto 38px;
}
.time_table h3{
	text-align: center;
    color: #000!important;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.time_table table tr th {
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 800;
}
.time_table table.table.table-bordered {
    margin-top: 18px;
    text-align: center;
}
.time_table table.table.table-bordered tr td {
    font-size: 14px;
    font-weight: 600;
}
.time_table table.table.table-bordered tr td.twelve {
    background: #f1f1f1;
}
.time_table table.table.table-bordered tr td.tym {
    padding: 43px 15px;
}
.time_table table h3 {
    text-align: center !important;
    color: #000!important;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-bottom: 0px;
}
/* time table-page */
.blue {
    background-color: #ff3547!important;
}
/* home page */
/* .team_item .team_img .hover { */
    /* position: absolute; */
    /* left: 0px; */
    /* width: 100%; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* text-align: center; */
    /* opacity: 0; */
    /* transition: all 300ms linear 0s; */
    /* background: #cccccc5e; */
    /* padding: 0; */
    /* height: 92%; */
    /* border-radius: 100%; */
/* } */
/* .team_item .team_img .hover a { */
    /* font-size: 14px; */
    /* color: #ff3547; */
    /* margin-right: 20px; */
    /* transition: all 300ms linear 0s; */
/* } */
.team_item .team_img img {
    width: 263px;
    border-radius: 100% !important;
    height: 263px !important;
    object-fit: cover;
}
.team_item .team_img:before {
    content: "";
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease;
    border-radius: 50%;
}

.team_item .team_img {
    position: relative;
    margin-bottom: 14px;
}
.team_item {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.team_inner {
    margin-bottom: -30px;
}
.staff_sec {
    background: #b7b1765c;
    padding: 60px 0 86px;
    text-align: center;
}
.staff_sec h2 {
	text-align: center;
    color: #ff3547!important;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.staff_sec hr {
    color: #ff3547 !important;
    width: 60px;
    margin: 0 auto 14px;
    background: #ff3547;
}
.staff_sec p {
    font-size: 17px;
    padding: 9px 70px;
    font-weight: 400;
    color: #212529;
}
.team_name h4 {
    color: #ff3547;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.team_name p {
    font-size: 17px;
    padding: 7px;
    font-weight: 400;
    color: #212529;
	text-transform: uppercase;
}
/* .team_item .team_img img:hover { */
    /* background: #ccccccc7; */
/* } */
.team_item .team_img:hover .hover {
    opacity: 1;
}
.team_inner a.btn {
    margin: 0 auto !important;
}
/* .team_inner a.view_btn { */
    /* margin: 0 auto; */
    /* background: #ff3547; */
    /* color: #fff; */
    /* text-transform: uppercase; */
    /* font-size: 14px; */
    /* padding: 13px 30px; */
    /* border-radius: 4px; */
    /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
/* } */
/* .team_inner a.view_btn:hover { */
    /* -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
    /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
    /* background-color: #ce0012!important; */
/* } */
/* mission */
.mission_section.pd-3 {
    padding: 63px 0 0;
}
.mission_section ul{
	margin-bottom:13px;
}
.mission_section ul li {
    padding: 2px 30px;
	position:relative;
}
.mission_section ul li:before {
    content: "*";
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 39px;
    color: #ff3547;
    text-shadow: 0 0 2px #716b59;
}
/* mission */
footer.page-footer .footer-copyright p {
    margin-bottom: 2px !important;
}
footer.page-footer .footer-copyright a:hover {
    color: #ff3547 !important;
}
.page-footer ul.list-unstyled.list-inline.text-center {
    margin-bottom: 18px;
}
/* home page */
/* banner */
.time_table_banner{
background: url(../img/hero_slider_5.jpg);
    background-size: cover;
    background-position: center;
}
.staff-banner{
    background: url(../img/bg-page.jpg);
    background-size: cover;
    background-position: center;
}
.my-5 .blue.accent-1 {
    background-color: #ff3547!important;
}
/* about */
/* notice*/
.notice-board {
    padding: 76px 0;
}
.notice-board h5 {
    text-align: center;
    color: #ff3547!important;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    margin-bottom: 20px;
	
}
.notice-board table#tablepress-2 {
    width: 60%;
    margin: 0 auto;
}
.notice-board table#tablepress-2 tbody.row-hover {
    border: 1px solid #ccc;
}
.notice-board table#tablepress-2 tbody.row-hover td {
    border: 1px solid #ccc;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 600;
}
.pdf-btn a.btn {
    background: #ff3547;
    color: #fff;
}

.ng-binding ul li {
    font-size: 1rem;
    font-weight: 400;
    padding: 2px 30px;
    position: relative;
}
.ng-binding ul li:before {
    content: "*";
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 39px;
    color: #ff3547;
    text-shadow: 0 0 2px #716b59;
}

/* notice*/

.form-header.bg-danger {
    background: #ff3547;
    position: relative;
    top: -41px;
}
.form-header.bg-danger h3.mt-2 {
    color: #fff;
    text-align: center;
    padding: 11px;
}
.btn-tw {
    background: #1ab2e8;
}
.btn-gplus {
    background: #c7443a !important;
}
.btn-li{
	 background: #0077b5 !important;
}
/* media */
@media(max-width:1199px){
.register_form form.needs-validation .student_id .form-group {
   
    padding: 0 13px 0 32px;
}
.bottom-section .submit_button {
    width: 55%;

}
.bottom-section .upload-sign {
    width: 45%;
    float: left;
}
.main_staff .staff_detail p {
    
    font-size: 15px;
    font-weight: 300;
}
.staff_detail h5 {
    
    font-size: 19px;
    height: auto;
    
}
.main_staff .staff_detail p b {
  
    color: #000000ed;
    font-weight: 500 !important;
}
}
@media(max-width:991px){
.register_form .col-md-8 {
    width: 100% !important;
}
.side-img {
    
    background-size: 100%;
    height: 17px;
    padding: 177px 0;
}
.staff_sec p {
    
    padding: 9px 0px;
    
}
}
@media(max-width:767px){
.register_form form.needs-validation .student_id .form-group {
    width: 100%;
    float: left;
    margin-bottom: 0 !important;
    margin-left: 15px;
}
.register_form form.needs-validation .student_detail .form-group.dob {
    width: 100%;
    margin-bottom: 16px;
}
.register_form form.needs-validation .student_detail .form-group.age {
    width: 100%;
    margin-left: 0;
}
.register_form form.needs-validation .student_detail .form-group.number {
    width: 100%;
    margin: 0 0px 10px 0;
}
.register_form form.needs-validation .student_detail .form-group.pnumber {
    width: 100%;
    margin-left: 0;
}
.register_form form.needs-validation p.Declaration {
    padding: 0 6px;
    font-size: 14px;
    margin-bottom: 15px;
   
}
.bottom-section .submit_button {
    width: 100%;
    margin-bottom: 18px;
}
.bottom-section .upload-sign {
    width: 100%;
}
.bottom-section .submit_button button {
  
    margin: 0 !important;
}
.register_form form.needs-validation .class_dropdown {
    width: 100%;
    float: left;
    margin: 0 6px 9px 1px;
}
.register_form form.needs-validation .subject_dropdown {
    width: 100%;
    float: left;
    margin: 0 6px 9px 1px;
}
.mission-text {
    padding-top: 19px;
    padding-bottom: 48px;
}
}
@media(max-width:640px){
.register-login {
    margin-top: 44px;
}
}
@media(max-width:520px){
.register_form form.needs-validation .student_img {
    width: 41%;
    float: none;
    margin: 0 auto;
}
.register_form form.needs-validation .student_id {
    width: 100%;
    float: left;
    padding: 0;
}
.register_form form.needs-validation .student_id p {
    padding: 0;
    
}
.register_form form.needs-validation .student_id .form-group {
    width: 50%;
    float: left;
    margin-left: 0;
}
.register_form form.needs-validation .student_detail {
    
    padding: 16px 0;
}
.register-login {
   
    margin-top: 63px;
}
.time_table table.table.table-bordered tr td.tym {
    padding: 43px 1px;
}

.time_table table h3 {
    text-align: left;
}
}
@media(max-width:480px){
.register_form form.needs-validation .student_img img {
    width: 100%;
}
.register_form form.needs-validation .student_id .form-group {
    width: 100%;
   
    padding: 0;
}
.register-login {
   
    margin-top: 64px;
}
.time_table table.table.table-bordered tr td.tym {
    padding: 43px 1px;
}

.time_table table h3 {
    text-align: left;
   
}
}