body{
	
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.pagination 
	{
		display: inline-block;
	}

	.pagination a,strong 
	{
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
	}

	.pagination strong 
	{
		background-color: #5cd1db;
		color: white;
	}

	.pagination a:hover:not(.active) {background-color: #ddd;}
	
.clear
{
	clear: both;
}	
.login .page-logo {
    text-align: center;
}
.login .page-logo a img{
	width: 400px;
}

#on_load_loader{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
.select2-container .select2-selection--single
{
	height: 34px !important;
}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
a.cross_profile_pic {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 12px;
    right: 1px;
}

img{
	width: 100%;
}

span.first_span {
    color: #32c5d2;
}
.feeds li .col1>.cont>.cont-col2>.desc {
    margin-left: 3px;
  
}

.cont a:hover {
    text-decoration: none;
}

